<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body>
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
    <div class="content hero">
        {% include nav.html %}
        {{ content }}
    </div>
    {% include footer.html %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>