<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body>
    <div class="content podcast">
        {% include nav-podcast.html %}
        <header>
            <div class="container-fluid py-5">
                <div class="container pt-5">
                    <div class="row justify-content-between">
                        <div class="col-12 col-xl-7 mb-5">
                            <h1 class="podcast-header mb-0">
                                Privacy is global podcast
                            </h1>
                            <p class="my-4 podcast-subheader">
                                Privacidad, siri, privacy, privacidade. Finding the word in different languages might
                                look simple. The contexts in which privacy plays out around the world, however, is
                                definitely not. How are new technologies and widespread data aggregation practices
                                impacting societies, politics, and cultures? What are the stories of the activists
                                working to protect privacy right around the world?<br /><br />

                                Listen to ‘Privacy is Global’, a podcast brought to you by Internews, to learn more
                                about the context, the struggles and the people behind data protection globally.
                            </p>
                            <p class="mb-5 podcast-text">Privacy is Global is a collaboration by <a
                                    href="https://internews.org/" target="_blank"
                                    rel="noopener noreferrer">Internews’</a> ADAPT project & the <a
                                    href="https://us.boell.org/en/homepage" target="_blank"
                                    rel="noopener noreferrer">Heinrich-Böll-Stiftung
                                    Washington, DC</a>.
                            </p>
                            <div class="card-apps">
                                <h2 class="podcast-subscribe text-uppercase mb-2">
                                    Where to listen
                                </h2>
                                <div class="row align-items-center">
                                    <div class="col-auto mb-2">
                                        <a href="https://anchor.fm/privacyisglobal" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/anchor.png" alt="AnchorFM"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://open.spotify.com/show/5GMMW8xhv2KthPYiqGHBk7" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/spotify.png" alt="Spotify"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy82Yjg2MWRmMC9wb2RjYXN0L3Jzcw=="
                                            target="_blank" rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/google_podcast.png"
                                                alt="Google Podcasts" width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://castbox.fm/channel/id4574178?country=us" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/castbox.png" alt="CastboxFM"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://www.deezer.com/us/show/2989882" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/deezer.png" alt="Deezer"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://www.stitcher.com/show/privacy-is-global" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/stitcher.png" alt="Stitcher"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://www.breaker.audio/privacy-is-global" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/upsidefm.png" alt="UpsideFM"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://pca.st/gehyi27r" target="_blank" rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/pocketcasts.png"
                                                alt="Pocket Casts" width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://radiopublic.com/privacy-is-global-G45R0d" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/radiopublic.png"
                                                alt="RadioPublic" width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <a href="https://anchor.fm/s/6b861df0/podcast/rss" target="_blank"
                                            rel="noopener noreferrer"><img
                                                src="{{ site.baseurl }}/assets/images/icons/rss.png" alt="RSS Feed"
                                                width="32px" height="32px"></a>
                                    </div>
                                    <div class="col-auto mb-2">
                                        <div class="dropdown">
                                            <button class="share-button dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Share
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li class="px-3 py-2"><a
                                                        href="https://facebook.com/sharer/sharer.php?u=https://adapt.internews.org/podcast"
                                                        target="_blank" rel="noreferrer nopener">Facebook</a></li>
                                                <li class="px-3 py-2"><a
                                                        href="https://twitter.com/intent/tweet/?text=https://adapt.internews.org/podcast"
                                                        target="_blank" rel="noreferrer nopener">Twitter</a></li>
                                                <li class="px-3 py-2"><a
                                                        href="https://www.linkedin.com/sharing/share-offsite/?url=https://adapt.internews.org/podcast"
                                                        target="_blank" rel="noreferrer nopener">LinkedIn</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>